$primary-color: #EBECFF;
$white-color: #ffffff;
$primary-color-dark: #A2ADFF;
$primary-color-light: #D7DBFF;

$primary-text-color: #999;

$black: #000;

$menu-color: #353B41;
$menu-color-dark: #353B41;

$click-color: #3498db;
$menu-sub-color: #515861;
$menu-entry-color: #3F464F;
$menu-entry-click-color: #49525D;
